.mat-paginator {
  display: flex;
  justify-content: start;
}

table {
  width: 100%;
  table-layout: fixed;
  tr:hover {
    background: none;
  }
}

th, td {
  overflow: hidden;
  white-space: nowrap;
}

.counter-number {
  font-size: 8px;
  font-weight: bold
}

.container-counter {
  position: relative;
  left: -8px
}


.large-text-btn {
  cursor: pointer;
  color: #1D57C4C6;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}
