<div fxLayout="row wrap">
  <div fxFlex="100" *ngIf="hasFilters">
    <mat-expansion-panel [expanded]="isFilterOpened">
      <mat-expansion-panel-header>
        {{filterText}}
      </mat-expansion-panel-header>
      <ng-content></ng-content>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </div>
  <div fxFlex="100" style="overflow-x: auto">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container *ngFor="let column of columns">
        <ng-container
                *ngIf="column.isModelProperty"
                [matColumnDef]="column.property"
        >
          <!--Columna NO ordenable (column.isSort)-->
          <ng-container *ngIf="!column.isSort">
            <th
                    *matHeaderCellDef
                    [style]="{ width: column.width ? column.width : '' }"
                    [style.text-align]="column.textAlign ? column.textAlign : ''"
                    mat-header-cell
            >
              {{ column.name }}
            </th>
          </ng-container>
          <!--Columna ordenable (column.isSort)-->
          <ng-container *ngIf="column.isSort">
            <th
                    *matHeaderCellDef
                    mat-header-cell
                    [style]="{ width: column.width ? column.width : '' }"
                    [mat-sort-header]="
                column.sortProperty ? column.sortProperty : column.property
              "
            >
              {{ column.name }}
            </th>
          </ng-container>
          <td
                  *matCellDef="let row"
                  (click)="
              !_isDisabled(row, column) &&
                rowOptionClick(row, _getActionCode(row, column))
            "
                  [style]="{ width: column.width ? column.width : '' }"
                  [style.text-align]="column.textAlign ? column.textAlign : ''"
                  mat-cell
          >
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <div *ngIf="column.showLoadinCell" fxFlex="10">
                <mat-progress-spinner
                        *ngIf="column.showLoadinCell(row)"
                        [diameter]="15"
                        [mode]="'indeterminate'"
                ></mat-progress-spinner>
              </div>
              <!-- CHECKBOX SELECCIÓN INICIO -->
              <div *ngIf="column.property === 'select'" fxFlex="10">
                <input type="checkbox" [(ngModel)]="selectedRows[row.id]" (change)="onRowSelectionChange(row)" style="transform: scale(1.5);" />
              </div>
              <!-- CHECKBOX SELECCIÓN FIN -->
              <div [fxFlex]="column.showLoadinCell ? 87 : 100">
                <span
                        *ngIf="
                    !column.largeText && !column.isPhone && !column.isEmail && !column.textPipe
                  "
                        [ngStyle]="
                    column.textContainerCellStyle
                      ? column.textContainerCellStyle(row)
                      : {}
                  "
                >
                  {{ row[column.property] }}
                </span>

                <span
                        *ngIf="
                    !column.largeText && !column.isPhone && !column.isEmail && column.textPipe
                  "
                        [ngStyle]="
                    column.textContainerCellStyle
                      ? column.textContainerCellStyle(row)
                      : {}
                  "
                >
                  {{ column.textPipe ? column.textPipe(row[column.property]) : row[column.property] }}
                </span>

                <span
                        *ngIf="!column.largeText && !column.isPhone && column.isEmail && !column.textPipe"
                        [ngStyle]="
                    column.textContainerCellStyle
                      ? column.textContainerCellStyle(row)
                      : {}
                  "
                >
                  <a
                          style="color: rgb(0, 159, 227)"
                          href="mailto:{{ row[column.property] }}"
                          target="_blank"
                  >
                    {{ row[column.property] }}
                  </a>
                </span>

                <span
                        *ngIf="!column.largeText && !column.isEmail && column.isPhone && !column.textPipe"
                        [ngStyle]="
                    column.textContainerCellStyle
                      ? column.textContainerCellStyle(row)
                      : {}
                  "
                >
                  <a
                          style="color: rgb(0, 159, 227)"
                          [href]="
                      'https://api.whatsapp.com/send?phone=591' +
                      row[column.property]
                    "
                          target="_blank"
                  >
                    {{ row[column.property] }}
                  </a>
                </span>

                <ng-container *ngIf="column.largeText">
                  <ng-container *ngIf="row[column.property]">
                    <span
                            *ngIf="row[column.property].length > 200"
                            class="large-text-btn"
                            (click)="rowOptionClick(row, column.largeText.actionCode)"
                    >
                      {{ column.largeText.text }}
                    </span>
                    <span
                            *ngIf="row[column.property].length <= 200"
                            [ngStyle]="
                        column.textContainerCellStyle
                          ? column.textContainerCellStyle(row)
                          : {}
                      "
                    >
                      {{ row[column.property] }}
                    </span>
                  </ng-container>
                </ng-container>
              </div>

              <ng-container *ngIf="column?.cellType === 'ICON'">
                <div
                        [ngStyle]="
                    column.cellTypeContainerStyle
                      ? column.cellTypeContainerStyle(row)
                      : {}
                  "
                >
                  <button
                          mat-icon-button
                          [disabled]="_isDisabled(row, column)"
                          [ngStyle]="
                      column.cellTypeStyle ? column.cellTypeStyle(row) : {}
                    "
                          [matTooltip]="column.tooltipText"
                  >
                    <mat-icon color="accent" class="clickable-icon">
                      {{ column.iconName }}
                    </mat-icon>
                  </button>
                </div>
              </ng-container>

              <ng-container *ngIf="column?.cellType === 'BUTTON'">
                <div
                        [ngStyle]="
                    column.cellTypeContainerStyle
                      ? column.cellTypeContainerStyle(row)
                      : {}
                  "
                >
                  <button
                          *ngIf="
                      _getIconName(row, column) || _getButtonText(row, column)
                    "
                          mat-icon-button
                          [disabled]="_isDisabled(row, column)"
                          [ngStyle]="
                      column.cellTypeStyle ? column.cellTypeStyle(row) : {}
                    "
                          [matTooltip]="_getTooltip(row, column)"
                          color="accent"
                  >
                    <mat-icon
                            [ngClass]="
                        _isDisabled(row, column)
                          ? 'no-clickable-icon'
                          : 'clickable-icon'
                      "
                    >
                      {{ _getIconName(row, column) }}
                    </mat-icon>
                    <span>{{ _getButtonText(row, column) }}</span>
                  </button>
                </div>
              </ng-container>
            </div>
          </td>
        </ng-container>
        <ng-container
                *ngIf="
            !column.isModelProperty &&
            column.property !== 'actions' &&
            column?.cellType
          "
                [matColumnDef]="column.property"
        >
          <!--Columna NO ordenable (column.isSort)-->
          <ng-container *ngIf="!column.isSort">
            <th
                    *matHeaderCellDef
                    [style]="{ width: column.width ? column.width : '' }"
                    [style.text-align]="column.textAlign ? column.textAlign : ''"
                    mat-header-cell
            >
              {{ column.name }}
            </th>
          </ng-container>
          <!--Columna ordenable (column.isSort)-->
          <ng-container *ngIf="column.isSort">
            <th
                    *matHeaderCellDef
                    mat-header-cell
                    [style]="{ width: column.width ? column.width : '' }"
                    [mat-sort-header]="
                column.sortProperty ? column.sortProperty : column.property
              "
            >
              {{ column.name }}
            </th>
          </ng-container>
          <td
                  *matCellDef="let row"
                  (click)="
              !_isDisabled(row, column) &&
                rowOptionClick(row, _getActionCode(row, column))
            "
                  [style]="{
              width: column.width ? column.width : '',
              cursor: _isDisabled(row, column) ? 'not-allowed' : ''
            }"
                  [style.text-align]="column.textAlign ? column.textAlign : ''"
                  mat-cell
          >
            <ng-container *ngIf="column?.cellType === 'ICON'">
              <div
                      [ngStyle]="
                  column.cellTypeContainerStyle
                    ? column.cellTypeContainerStyle(row)
                    : {}
                "
              >
                <button
                        mat-icon-button
                        [disabled]="_isDisabled(row, column)"
                        [ngStyle]="
                    column.cellTypeStyle ? column.cellTypeStyle(row) : {}
                  "
                        [matTooltip]="column.tooltipText"
                        color="accent"
                >
                  <mat-icon
                          [ngClass]="
                      _isDisabled(row, column)
                        ? 'no-clickable-icon'
                        : 'clickable-icon'
                    "
                  >
                    {{ column.iconName }}
                  </mat-icon>
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="column?.cellType === 'BUTTON'">
              <div
                      [ngStyle]="
                  column.cellTypeContainerStyle
                    ? column.cellTypeContainerStyle(row)
                    : {}
                "
              >
                <button
                        *ngIf="
                    _getIconName(row, column) || _getButtonText(row, column)
                  "
                        mat-icon-button
                        [disabled]="_isDisabled(row, column)"
                        [ngStyle]="
                    column.cellTypeStyle ? column.cellTypeStyle(row) : {}
                  "
                        [matTooltip]="_getTooltip(row, column)"
                        color="accent"
                >
                  <mat-icon
                          [ngClass]="
                      _isDisabled(row, column)
                        ? 'no-clickable-icon'
                        : 'clickable-icon'
                    "
                  >
                    {{ _getIconName(row, column) }}
                  </mat-icon>
                  <span>{{ _getButtonText(row, column) }}</span>
                </button>
              </div>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="rowActions" [matColumnDef]="'actions'">
        <th
                *matHeaderCellDef
                [style]="{ width: '7px' }"
                mat-header-cell
        ></th>
        <td *matCellDef="let row" [style]="{ width: '7px' }">
          <button
                  type="button"
                  color="accent"
                  mat-icon-button
                  matTooltip="Opciones"
                  [matMenuTriggerFor]="actionsMenu"
                  (click)="$event.stopPropagation()"
          >
            <mat-icon color="accent">format_list_bulleted</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
            <button
                    *ngFor="let action of rowActions"
                    mat-menu-item
                    (click)="rowOptionClick(row, action.actionCode)"
                    [disabled]="
                action.isDisabledFn ? action.isDisabledFn(row) : false
              "
            >
              <mat-icon color="accent" *ngIf="action.icon">{{
                action.icon
                }}</mat-icon>
              {{
              action.dynamicActionsFn
                      ? action.dynamicActionsFn(row)
                      : action.action
              }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container
              *ngIf="lastRowActions && lastRowActions.length > 0"
              [matColumnDef]="'lastActions'"
      >
        <th
                *matHeaderCellDef
                [style]="{ width: widthActions }"
                mat-header-cell
        ></th>
        <td *matCellDef="let row" [style]="{ width: widthActions }" mat-cell>
          <button
                  type="button"
                  color="accent"
                  mat-icon-button
                  matTooltip="Opciones"
                  [matMenuTriggerFor]="lastActionsMenu"
                  (click)="$event.stopPropagation()"
          >
            <mat-icon color="accent">format_list_bulleted</mat-icon>
          </button>
          <mat-menu
                  #lastActionsMenu="matMenu"
                  yPosition="below"
                  xPosition="before"
          >
            <button
                    *ngFor="let lastAction of lastRowActions"
                    mat-menu-item
                    (click)="rowOptionClick(row, lastAction.actionCode)"
                    [disabled]="
                lastAction.isDisabledFn ? lastAction.isDisabledFn(row) : false
              "
            >
              <mat-icon color="accent" *ngIf="lastAction.icon">{{
                lastAction.icon
                }}</mat-icon>
              {{
              lastAction.dynamicActionsFn
                      ? lastAction.dynamicActionsFn(row)
                      : lastAction.action
              }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: visibleColumns" mat-row></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="visibleColumns.length">
          <p style="text-align: center">Sin resultados para mostrar</p>
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator
          [length]="totalElements"
          [pageSizeOptions]="pageSizeOptions"
          [pageSize]="paginator.pageSize"
          [style]="{ 'background-color': 'transparent' }"
  ></mat-paginator>
</div>
