<div fxLayout="row wrap">
  <div fxFlex="100">
    <table mat-table
           matSort
           [dataSource]="dataSource">

      <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="column.isModelProperty && column.isSort" [matColumnDef]="column.property">
          <th *matHeaderCellDef
              mat-header-cell
              [style]="{width: column.width ? column.width : ''}"
              [mat-sort-header]="column.sortProperty ? column.sortProperty : column.property">
            {{ column.name }}
          </th>
          <td *matCellDef="let row"
              [style]="{
                          width: column.width ? column.width : '',
                          textAlign: column.textAlign ? column.textAlign : ''
                       }"
              mat-cell>
            <ng-container *ngIf="!column.largeText">
              {{ row[column.property] }}
            </ng-container>
            <ng-container *ngIf="column.largeText">
              <span *ngIf="row[column.property]"
                    class="large-text-btn"
                    (click)="rowOptionClick(row, column.largeText.actionCode)">
                {{column.largeText.text}}
              </span>
            </ng-container>
          </td>
        </ng-container>
        <ng-container *ngIf="column.isModelProperty && !column.isSort" [matColumnDef]="column.property">
          <th *matHeaderCellDef
              [style]="{width: column.width ? column.width : ''}"
              mat-header-cell>
            {{ column.name }}
          </th>
          <td *matCellDef="let row"
              [style]="{width: column.width ? column.width : '', padding: '2px'}"
              mat-cell>
            <ng-container *ngIf="!column.largeText">
              {{ row[column.property] }}
            </ng-container>
            <ng-container *ngIf="column.largeText">
              <span *ngIf="row[column.property]"
                    class="large-text-btn"
                    (click)="rowOptionClick(row, column.largeText.actionCode)">
                {{column.largeText.text}}
              </span>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="rowActions" matColumnDef="actions">
        <th *matHeaderCellDef
            class="actions-cell"
            [style]="{width: actionsWidth}"
            mat-header-cell></th>
        <td *matCellDef="let row"
            class="actions-cell"
            [style]="{width: actionsWidth}"
            mat-cell>
          <button *ngFor="let sAction of singleRowActions"
                  type="button"
                  color="accent"
                  mat-icon-button
                  [disabled]="sAction.isDisabledFn ? sAction.isDisabledFn(row) : false"
                  [matTooltip]="sAction.tooltip"
                  (click)="rowOptionClick(row, sAction.actionCode)">
            <mat-icon [color]="sAction.isDisabledFn ? (sAction.isDisabledFn(row) ? undefined : 'accent') : 'accent'">
              {{sAction.icon}}
            </mat-icon>
          </button>
          <button type="button"
                  color="accent"
                  mat-icon-button
                  matTooltip="Opciones"
                  [matMenuTriggerFor]="actionsMenu"
                  (click)="$event.stopPropagation()">
            <mat-icon color="accent">more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">

            <button *ngFor="let action of rowActions"
                    mat-menu-item
                    [disabled]="action.isDisabledFn ? action.isDisabledFn(row) : false"
                    (click)="rowOptionClick(row, action.actionCode)">
              <mat-icon color="accent" *ngIf="action.icon">{{action.icon}}</mat-icon>{{action.action}}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: visibleColumns;"
          class="clickable route-animations-elements"
          mat-row></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="visibleColumns.length">
          <p style="text-align: center">Sin resultados para mostrar</p>
        </td>
      </tr>
    </table>
    <mat-paginator [ngClass]="this.classPaginator"
                   [length]="this.dataSource.data.length"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="5"></mat-paginator>
  </div>
</div>
